final code

In [1]:
# from tqdm import tqdm_notebook as tqdm
# import numpy as np

In [2]:
square = [i**2 for i in range(10)]

In [3]:
# def dig_sqr_sum(n):
#     if n > 0:
#         return square[n%10] + dig_sqr_sum(n//10)
#     else:
#         return n

In [4]:
# def dig_sqr_sum(n):
#     return square[n%10] + dig_sqr_sum(n//10) if n > 0 else n

In [5]:
def dig_sqr_sum(n):
    res = 0
    while n > 0:
        res += square[n%10]
        n //= 10
    return res

In [6]:
dig_sqr_sum(9999999)

567

In [7]:
%%time
max_n = 9999999
set_89 = {89}
set_1 = {1}
set_1_89 = {1, 89}
# for n in tqdm(range(1, max_n + 1)):
for n in range(1, dig_sqr_sum(max_n) + 1):
    queue = []
    while n not in set_1_89:
        queue.append(n)
        n = dig_sqr_sum(n)
    if n in set_1:
        set_1.update(queue)
    else:
        set_89.update(queue)
    set_1_89.update(queue)
for n in range(dig_sqr_sum(max_n) + 1, max_n + 1):
    if dig_sqr_sum(n) in set_1:
        set_1.add(n)
    else:
        set_89.add(n)

Wall time: 10.5 s

In [8]:
# solution
print(len(set_89 & set(range(max_n + 1))), 'starting numbers below ten million will arrive at 89')

8581146 starting numbers below ten million will arrive at 89

In [9]:
# interesting
len(set_1), len(set_89)

(1418853, 8581146)

In [10]:
# check
len(set_1 & set(range(max_n + 1))), len(set_89 & set(range(max_n + 1)))

(1418853, 8581146)

In [11]:
# check
len(set_1 & set(range(max_n + 1))) + len(set_89 & set(range(max_n + 1))) == max_n

True

workings

In [12]:
n = 237

In [13]:
n%10

7

In [14]:
n //= 10
n

23

In [15]:
def dig_sqr_sum(n):
    res = 0
    while n > 0:
        res += (n%10)**2
        n //= 10
    return res

In [16]:
dig_sqr_sum(1111), dig_sqr_sum(1021), dig_sqr_sum(99), dig_sqr_sum(0), dig_sqr_sum(int(1e7-1))

(4, 6, 162, 0, 567)

In [17]:
n = 99
while n not in {1, 89}:
    print(n)
    n = dig_sqr_sum(n)

99
162
41
17
50
25
29
85

In [18]:
set_89 = {89}
set_1 = {1}
set_1_89 = set_1 | set_89
set_1_89

{1, 89}

In [19]:
n = 99
queue = []
while n not in set_1_89:
    print(n)
    queue.append(n)
    n = dig_sqr_sum(n)
if n in set_1:
    set_1.update(queue)
else:
    set_89.update(queue)
set_1_89 = set_1 | set_89

99
162
41
17
50
25
29
85

In [20]:
set_1, set_89, set_1_89

({1},
 {17, 25, 29, 41, 50, 85, 89, 99, 162},
 {1, 17, 25, 29, 41, 50, 85, 89, 99, 162})

In [21]:
set_89 = {89}
set_1 = {1}
set_1_89 = set_1 | set_89
for n in range(1, 11):
    queue = []
    while n not in set_1_89:
        queue.append(n)
        n = dig_sqr_sum(n)
    if n in set_1:
        set_1.update(queue)
    else:
        set_89.update(queue)
    set_1_89 = set_1 | set_89

In [22]:
len(set_1), len(set_89)

(6, 24)

In [23]:
len(set_1 & set(range(11))), len(set_89 & set(range(11)))

(3, 7)

In [24]:
set_1 & set(range(11)), set_89 & set(range(11))

({1, 7, 10}, {2, 3, 4, 5, 6, 8, 9})